@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
  }

body,html {
    height:100vh;
    background-color: #5f2c82;
}

main {
    margin-top: 25vh;
}

section#login {
    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/login-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    padding: 20px;
}

section#login > div#formulario {
    display: block;
    padding: 20px;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

p.buttons {
    text-align: center;
}

input {
    border-radius: 10px;
    padding: 5px;
}



